.navbar {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* searchbar */
.searchBarContainer {
  display: flex;

  width: 35.4rem;
  flex-wrap: wrap;
  height: 3rem;
}

.searchBarInput {
  flex: 1;
  width: 30rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  /* height: 40px; */
  font-size: 16px;
  font-weight: 400;
  /* font-family: ; */
}
.searchBarButton {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  width: 4rem;
}

/* feedbackbtn */
.feedbackBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    background-color: var(--color-black);
    border: 1px;
    border-radius: 12px;
    padding: 10px 16px 10px 16px;
    letter-spacing: 1px;
}